{% extends "layout.html" %}
{% block content %}
<div class="site-header-logo">
    <h1 class="text-center">
        Data Visualization Project
    </h1>
</div>

<div class="row p-4">
    <div class="card m-auto" style="width: 90;">
        <div class="card-body">
            <di id="chart1"></di>
            <p>Random text</p>
        </div>
    </div>

</div>

    <!-- plotly CDN -->

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        var graphs1 = {{ graph1JSON | safe}};
        Plotly.plot("chart1", graphs1,{});

        // var graphs2 = {{ graph2JSON | safe}};
        // Plotly.plot("chart2", graphs2,{});

        // var graphs3 = {{ graph3JSON | safe}};
        // Plotly.plot("chart3", graphs3,{});
    </script>


{% endblock %}