<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>

    <link
      rel="stylesheet"
      href="{{url_for('static', filename = 'main.css')}}"
      type="text/css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    {% if title %}
    <title>Flask Plot-{{title}}</title>
    {% else %}
    <title>Flask Plot</title>
    {% endif %}
  </head>
  <body class="bg-slate-100">
    <main>
      <div class="bg-white border-b">
        <div class="container mx-auto flex flex-row justify-between py-5">
          <div class="font-bold text-2xl">India Election Results</div>
          <div>Data Visualization Project</div>
        </div>
      </div>
      <div>{% block content %} {% endblock %}</div>
    </main>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="{{url_for('static', filename = 'js/api.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/app.js')}}"></script>
    <script>
      AOS.init({
        offset: 400,
        duration: 1000,
      });
    </script>
  </body>
</html>
